@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@media (max-width:992px){
    html,body{
        overflow-x: hidden;
        width: 100%;
    }
}

.test{
    transform: translate3d(199px,61px,0px);
}